* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.6rem;
  }
}

:root {
  --bg-alt-col: #e6e9ef;
  --bg-alt-tr-col: #e6e9efcc;
  --bg-col: #eff1f5;
  --fg-alt-col: #37394d;
  --fg-col: #4c4f69;
  --primary-col: #f5833d;
  --primary-alt-col: #d46e31;
  --secondary-col: #179299;
  --secondary-alt-col: #0f8b8b;
  --tertiary-col: #caa6f7;
  --tertiary-alt-col: #a78bfa;
  --theme-slider-col: #a78bfa;
}

.dark {
  --bg-alt-col: #181825;
  --bg-alt-tr-col: #181825CC;
  --bg-col: #1e1e2e;
  --fg-alt-col: #989fb5;
  --fg-col: #cdd6f4;
  --primary-col: #fab387;
  --primary-alt-col: #cf8e65;
  --secondary-col: #94e2d5;
  --secondary-alt-col: #89dceb;
  --tertiary-col: #8839ef;
  --tertiary-alt-col: #7f3af2;
  --theme-slider-col: #f9e2af;
}

.light {
  --bg-alt-col: #e6e9ef;
  --bg-alt-tr-col: #e6e9efcc;
  --bg-col: #eff1f5;
  --fg-alt-col: #37394d;
  --fg-col: #4c4f69;
  --primary-col: #f5833d;
  --primary-alt-col: #d46e31;
  --secondary-col: #179299;
  --secondary-alt-col: #0f8b8b;
  --tertiary-col: #caa6f7;
  --tertiary-alt-col: #a78bfa;
  --theme-slider-col: #a78bfa;
}
