---
import { GithubIcon, LinkedinIcon } from "lucide-preact";
import AppLayout from "@Layouts/AppLayout.astro";
import { Image } from "astro:assets";
import meImg from "@Assets/me1.jpg";
// import meImg from "@Asset"
---

<AppLayout title="nhulox97 - Sergio Bernal">
  <section class="section-me">
    <div class="landing-container">
      <div class="landing-photo">
        <Image class="landing-me" src={meImg} alt="Me" />
      </div>
      <div class="landing-info">
        <p>Hi, I'm</p>
        <h1>Sergio Bernal</h1>
        <h2>Back-End Engineer</h2>
        <div class="landing-cta">
          <a
            class="btn btn-cv"
            href="https://github.com/nhulox97/resume/blob/main/Sergio.Bernal.Resume.pdf"
            target="_blank">Download CV</a
          >
          <button class="btn btn-contact">Contact Info</button>
        </div>
        <div class="landing-socials">
          <a
            href="https://www.linkedin.com/in/sergio-abc/"
            class="social"
            target="_blank"
          >
            <LinkedinIcon size={28} />
          </a>
          <a href="https://github.com/nhulox97" class="social" target="_blank">
            <GithubIcon size={28} />
          </a>
        </div>
      </div>
    </div>
  </section>
</AppLayout>

<style>
  .section-me {
    height: 100%;
  }

  .landing-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    height: 100%;
  }

  .landing-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landing-container > div > * {
    margin-block: 5px;
  }

  .landing-photo > .landing-me {
    clip-path: circle();
    height: 350px;
    width: 350px;
  }

  .landing-info > p {
    font-weight: 600;
    color: var(--fg-alt-col);
    font-size: 1.1em;
  }

  .landing-info > h2 {
    color: var(--primary-col);
  }

  .landing-socials {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-block-start: 10px;
  }

  .landing-socials > .social {
    color: var(--fg-alt-col);
  }

  .landing-socials > .social:hover {
    color: var(--fg-col);
    transition: color 0.2s ease-in-out;
    transtion: -webkit-color 0.2s ease-in-out;
  }

  .landing-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block-start: 10px;
  }

  .btn {
    border: 1.25px solid var(--fg-col);
    border-radius: 32px;
    font-size: 12px;
    font-weight: 700;
    margin-inline: 1em;
    padding-inline: 18px;
    padding-block: 10px;
    transition: 0.4s;
  }

  .btn-cv:hover {
    background-color: var(--fg-col);
    color: var(--bg-col);
  }

  .btn-contact {
    background-color: var(--fg-col);
    color: var(--bg-col);
  }

  .btn-contact:hover {
    background-color: var(--fg-alt-col);
    border-color: var(--fg-alt-col);
    color: var(--bg-alt-col);
  }

  @media (max-width: 725px) {
    .landing-container {
      display: flex;
      flex-direction: column;
      gap: 1.25em;
    }

    .landing-photo > .landing-me {
      height: 300px;
      width: 300px;
    }
  }
</style>
