---
import AppLayout from "@Layouts/AppLayout.astro";
---

<style>
  h2 {
    color: var(--primaryCol);
  }
</style>
<AppLayout title="nhulox97 - Sergio Bernal">
  <h1>nhulox97 - Sergio Bernal</h1>
  <h2>Back-End Engineer</h2>
</AppLayout>
