---
import Navbar from "./Navbar.astro";
---

<header>
  <div class="title">
    <a href="#me">nhulox97</a>
  </div>
  <Navbar />
</header>

<style>
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
    padding-inline: 2em;
    height: 10dvh;
    width: 95%;
  }

  header > .title > a {
    color: var(--primary-col);
    font-size: 1.75rem;
    font-weight: 700;
  }

  header > .title > h1:hover {
    color: var(--primary-alt-col);
  }

  header > .nav {
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 725px) {
    header {
      position: fixed;
      z-index: 1;
    }

    header > .title > h1 {
      font-size: 1.5em;
    }
  }
</style>
