---
import Navbar from "./Navbar.astro";
---

<header>
  <div class="title">
    <h1>nhulox97</h1>
  </div>
  <Navbar />
</header>

<style>
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
    padding-block: 1.5em;
    padding-inline: 2em;
    width: 95%;
  }

  header > .title > * {
    color: var(--primary-col);
    font-size: 1.5rem;
    font-weight: 700;
  }

  header > .nav {
    display: flex;
    flex-direction: row;
  }
</style>
