---
import ThemeSwitcher from "./ThemeSwitcher.astro";
import Nav from "./Nav.tsx";
import NavToggle from "./NavToggle.tsx";
---

<nav>
  <Nav client:load />
  <ThemeSwitcher />
  <NavToggle client:load />
</nav>

<style is:inline>
  nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  nav > * {
    margin-inline: 10px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
  }

  .nav-element {
    background: none;
    border-bottom: 2px solid transparent;
    font-size: 1rem;
    font-weight: 500;
    margin-inline: 12px;
  }

  .nav-element:hover {
    color: var(--primary-alt-col);
    border-bottom: 2px solid var(--primary-alt-col);
    transition: border-bottom 0.2s ease-in-out;
    transtion: -webkit-border-bottom 0.2s ease-in-out;
  }

  .nav-toggle {
    display: none;
  }

  @media (max-width: 725px) {
    .nav-toggle {
      display: flex;
      z-index: 2;
    }

    .nav-toggle:active {
      transform: translateY(-5px);
      transition: -webkit-transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out;
    }

    .nav-element {
      margin-block: 10px;
    }

    .nav-links {
      align-items: center;
      background-color: var(--bg-alt-tr-col);
      border: 1px solid var(--primary-alt-col);
      border-radius: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-block-start: 65px;
      padding-block: 50px;
      position: fixed;
      right: 0;
      top: 0;
      width: 75%;
      z-index: 2;
    }
  }
</style>
