---
import "@Styles/global.css";
import Header from "@Components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,700;0,6..12,900;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,700;1,6..12,900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="app">
      <slot />
    </main>
  </body>
</html>

<style is:inline>
  body {
    background-color: var(--bg-col);
    color: var(--fg-col);
    font-family: "Nunito Sans", sans-serif;
    height: 90dvh;
  }

  main {
    max-width: 1100px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
  }

  .app {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
</style>
