---
import "@Styles/global.css";
import Header from "@Components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,700;0,6..12,900;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,700;1,6..12,900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="app">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  body {
    background-color: var(--bgCol);
    color: var(--fgCol);
    font-family: "Nunito Sans", sans-serif;
  --bgAltCol: "#181825";
  --bgCol: "#1e1e2e";
  --fgAltCol: "#989fb5";
  --fgCol: "#cdd6f4";
  --primaryCol: "#fab387";
  --primaryAltCol: "#cf8e65";
  }

  main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  }

  .app {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
  }

body.dark {
    --bgAltCol: "#e6e9ef";
    --bgCol: "#eff1f5";
    --fgAltCol: "#37394d";
    --fgCol: "#4c4f69";
    --primaryCol: "#f5833d";
    --primaryAltCol: "#d46e31";
}

#body.light {
}
</style>
