---
import "@Styles/global.css";
import Header from "@Components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,700;0,6..12,900;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,700;1,6..12,900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header  />
    <main class="app">
      <slot />
    </main>
  </body>
</html>

<style is:inline>
  :root {
    --bg-alt-col: #181825;
    --bg-col: #1e1e2e;
    --fg-alt-col: #989fb5;
    --fg-col: #cdd6f4;
    --primary-col: #fab387;
    --primary-alt-col: #cf8e65;
    --secondary-col: #179299;
    --secondary-alt-col: #0f8b8b;
    --tertiary-col: #8839ef;
    --tertiary-alt-col: #7f3af2;
    --theme-slider-col: #7f3af2;
    --theme-slider-col: #f9e2af;
  }

  .light {
    --bg-alt-col: #181825;
    --bg-col: #1e1e2e;
    --fg-alt-col: #989fb5;
    --fg-col: #cdd6f4;
    --primary-col: #fab387;
    --primary-alt-col: #cf8e65;
    --secondary-col: #179299;
    --secondary-alt-col: #0f8b8b;
    --tertiary-col: #8839ef;
    --tertiary-alt-col: #7f3af2;
    --theme-slider-col: #f9e2af;
  }

  .dark {
    --bg-alt-col: #e6e9ef;
    --bg-col: #eff1f5;
    --fg-alt-col: #37394d;
    --fg-col: #4c4f69;
    --primary-col: #f5833d;
    --primary-alt-col: #d46e31;
    --secondary-col: #94e2d5;
    --secondary-alt-col: #89dceb;
    --tertiary-col: #caa6f7;
    --tertiary-alt-col: #a78bfa;
    --theme-slider-col: #a78bfa;
  }

  body {
    background-color: var(--bg-col);
    color: var(--fg-col);
    font-family: "Nunito Sans", sans-serif;
  }

  main {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
  }

  .app {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
  }
</style>
